.domino {
  background-color: white;
  border: 1px solid black;
}

.vertical {
  transform: rotate(90deg);
}

.dotted {
  background-color: black;
  border-radius: 50%;
  margin:0;
  padding: 0;
  height: 10px;
  width: 10px;
}

.empty-dot {
  height: 10px;
  width: 10px;
  padding: 0;
  margin: 0;
}
